$icon-font-path: "../styles/fonts/"; // Change the path to the fonts
@import "bootstrap-sass/lib/bootstrap";

/* Put your CSS here */
html, body {
    margin: 30px 0;
}


.calendar {
    margin-top: 50px;
    float: left;

    td {
        width: 60px;
        height: 60px;
        text-align: center;
        border: 1px solid #333333;

        a {
            display: block;
            height: 100%;
            line-height: 60px;
        }
    }
    &.back {
        position: relative;
        top: 63px;
    }
}
