<div class="page-header">
  <h1>Calendrier</h1>
</div>




<div class="col-md-7 col-md-offset-3">
  {{#each day in model}}
    {{#if day.firstDay}}
      <table class="calendar firstDay">
    {{else}}
      <table class="calendar">
    {{/if}}

    <table {{bind-attr class=":calendar day.firstDay:firstDay"}}>
      <tr>
        {{#each d in day}}
          <tr>
            <td>
              <a href="#">
                {{d.number}}
              </a>
            </td>
          </tr>
        {{/each}}
      </tr>
    </table>
  {{/each}}

</div>
