<div class="col-md-3">
    <div class="well sidebar-nav">

        <h2 class="text-center">Add reporting</h2>
        <form {{action "createTicket" on="submit"}} role="form">
            <div class="form-group">
                <label for="number">Ticket ID</label>
                {{input type="number" value=number id="number"  class="form-control"}}
            </div>
            <div class="form-group">
                <label for="title">Ticket title</label>
                {{input type="text" value=title id="title" class="form-control"}}
            </div>
            <div class="form-group">
                <label for="time">Ticket time</label>
                {{input type="text" value=time id="time" class="form-control"}}
            </div>
            <div>
                <button type="submit" class="btn btn-primary btn-block">Submit</button>
            </div>
        </form>
    </div>
</div>
<div class="col-md-9">
    <div class="row">
    	<div class="page-header">
    		<h1>Reporting list</h1>
    	</div>
    </div>

	{{#each controller}}
        <div class="row" style="height: auto; min-height: 100px">
    		<div class="well col-md-5" style="position: relative; min-height: 100px; height: auto;">
                {{#unless isEditing}}
        			<strong style="display:block; width: 86%%">{{title}}</strong><br>

        			<span class="label label-primary">
        				Ticket ID : {{number}}
        			</span>
        			<span style="margin-left:5px;"></span>
        			<span class="label label-warning">Time: {{time}}</span>
        			<div style="margin-top:10px"></div>
        			
                    <button type="button" class="btn btn-default btn-mini" {{action 'deleteTicket' this}} style="position: absolute; right: 10px; top: 10px">
                        <span class="glyphicon glyphicon-trash"></span>
                    </button>
                    <button type="button" class="btn btn-default btn-mini" {{action 'editTicket' this}} style="position: absolute; right: 10px; top: 50px">
                        <span class="glyphicon glyphicon-pencil"></span>
                    </button>
                {{else}}
                    <form  role="form">
                        <label for="ticketTitle">Title :</label>
                        <div class="form-group">
                            {{input type='text' id="ticketTitle" value=title class="form-control"}}
                        </div>
                        <label for="ticketId">Ticket ID :</label>
                        <div class="form-group">
                            {{input type='text' id="ticketId" value=number class="form-control"}}
                        </div>
                        <label for="TicketTime">Time :</label>
                        <div class="form-group">
                            {{input type='text' id="TicketTime" value=time class="form-control"}}
                        </div>
                        <div>
                        <div class="btn-group">
                            <button {{action 'changeTicket' this}} type="submit" class="btn btn-primary">
                                <span class="glyphicon glyphicon-ok"></span>
                            </button>
                            <button {{action 'cancelEditing' this}} class="btn btn-danger">
                                <span class="glyphicon glyphicon-remove"></span>
                            </button>
                        </div>
                           
                        </div>
                    </form>
                {{/unless}}
    		</div>
            <div class="col-md-2" style="text-align:center;">
                <div class="panel panel-primary">
                    <div class="panel-body" style="background: #428bca; color: white;">
                        Created
                    </div>
                    <div class="panel-footer">
                        {{createdAt}}
                    </div>
                </div>          
            </div>
            <div class="col-md-2" style="text-align:center;">
                <div class="panel panel-primary">
                    <div class="panel-body" style="background: #428bca; color: white;">
                        Last update
                    </div>
                    <div class="panel-footer">
                        {{updatedAt}}
                    </div>
                </div>  
            </div>	
            <div class="col-md-2">
                <button {{action 'copyToClipboard' this}} class="btn btn-default">
                    Copy to clipboard
                </button>
            </div>
        </div>
	{{/each}}
</div>