<div class="page-header">
  <h1>Month</h1>
</div>

<div class="col-md-7 col-md-offset-3">
  {{#each day in model}}
    <table {{bind-attr class=":calendar day.back:back"}}>
      {{#each d in day}}
        <tr>
          <td>
            <a href="#">
              {{d.number}}
            </a>
          </td>
        </tr>
      {{/each}}
    </table>
  {{/each}}

</div>
